
header{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.navi{
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  margin-top: -20px;
  justify-content: space-around;
  width: 30%;
}
h4{
  font-family: 'Nova Round';
}
h1{
  font-size: 80px;
  margin-top: -10px;
  font-family: 'Nova Round';
}

.player{
  height: 400px;
  width: 400px;
}
.vid{
  margin-left: 100px;
}
