.search-jobs-wrapper{
	font-family: 'Nova Round';
	text-align: center;
}

.jListed {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #7FB832;
	display:inline-block;
	cursor:pointer;
	color:#7FB832;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.jListed:hover {
	background-color:transparent;
}
.jListed:active {
	position:relative;
	top:1px;
}
